In [2]:
import pandas as pd

In [233]:
df = pd.read_csv('games-data_new.csv')
df

,name,platform,r-date,score,user score,developer,genre,players,critics,users
0,Full Throttle,PC,1995-04-30,86,8.6,LucasArts,"Adventure,General",No info,8,189
1,Duke Nukem 3D,PC,1996-01-29,89,8.7,3DRealms,"Action,Shooter,Shooter,First-Person,Sci-Fi,Sci...",Up to 8,8,489
2,Sid Meier's Civilization II,PC,1996-02-29,94,8.8,MPSLabs,"Strategy,Turn-Based,Historic,General,Historic,4X",1 Player,7,471
3,Bad Mojo,PC,1996-02-29,74,6.9,PulseEntertainment,"Action Adventure,Adventure,General,Horror,General",1 Player,10,13
4,Resident Evil,PlayStation,1996-03-30,91,9.1,Capcom,"Action Adventure,Horror",1 Player,8,623
...,...,...,...,...,...,...,...,...,...,...
18974,Forza Horizon 5,PC,2021-11-09,91,6.3,PlaygroundGames,"Racing,Simulation,Automobile",No info,17,4
18975,Jurassic World Evolution 2,PC,2021-11-09,81,tbd,FrontierDevelopments,"Strategy,Management,Business / Tycoon",No info,7,0
18976,Blue Reflection: Second Light,PlayStation4,2021-11-09,78,tbd,Gust,"Role-Playing,Japanese-Style",No info,10,0
18977,Blue Reflection: Second Light,Switch,2021-11-09,78,tbd,Gust,"Role-Playing,Japanese-Style",No info,9,0
18978,Shin Megami Tensei V,Switch,2021-11-12,87,tbd,Atlus,"Role-Playing,General",No info,52,0

In [281]:
df['r-date'] = pd.to_datetime(df['r-date'])
df['r-date'][0].year

1995

In [282]:
platform = {}
all_platforms ={}
for row in df.itertuples():
    if row.platform not in all_platforms:
        all_platforms[row.platform] = 0
for row in df.itertuples():
    #if row[0] == 0:
     #   print(row._3.year)
        
    
    if row._3.year not in platform:
        if len(platform) == 0:
            
            platform_year = {}
            platform[row._3.year] = all_platforms.copy()
            platform[row._3.year][row.platform] = 0
        elif len(platform) != 0:
            platform[row._3.year] = platform[row._3.year-1].copy()
    if row._3.year in platform:
        platform[row._3.year][row.platform] +=1
        #if row.platform not in platform_year:
         #   platform_year[row.platform] = 1
        #elif row.platform in platform_year:
         #   platform_year[row.platform] +=1
list_of_df = []
for outer_dict in platform:
    platform_series = pd.DataFrame.from_dict(platform[outer_dict],orient='index', columns =['count'])
    platform_series['year'] = outer_dict
    platform_series.reset_index(level=0, inplace=True)
    
    list_of_df.append(platform_series)
platform_df = pd.concat(list_of_df)
platform_df.reset_index(drop=True,inplace=True)
platform_df.rename(columns={'index':'platform'},inplace=True)
platform_df.to_csv('platform.csv')
platform_df

         platform  count  year
0              PC      1  1995
1     PlayStation      0  1995
2      Nintendo64      0  1995
3       Dreamcast      0  1995
4    PlayStation2      0  1995
..            ...    ...   ...
589       XboxOne   1183  2021
590        Switch   1421  2021
591        Stadia      5  2021
592   XboxSeriesX     85  2021
593  PlayStation5    133  2021

[594 rows x 3 columns]

In [283]:
developer = {}
all_developer = {}
for row in df.itertuples():
    if row.developer not in all_developer:
        all_developer[row.developer] = 0
for row in df.itertuples():
    #if row[0] == 0:
     #   print(row._3.year)
        
    
    if row._3.year not in developer:
        if len(developer) == 0:
            
            developer_year = {}
            developer[row._3.year] = all_developer.copy()
            developer[row._3.year][row.developer] = 0
        elif len(developer) != 0:
            developer[row._3.year] = developer[row._3.year-1].copy()
    if row._3.year in developer:
        developer[row._3.year][row.developer] +=1
        #if row.developer not in developer_year:
         #   developer_year[row.developer] = 1
        #elif row.developer in developer_year:
         #   developer_year[row.developer] +=1
list_of_df = []
for outer_dict in developer:
    developer_series = pd.DataFrame.from_dict(developer[outer_dict],orient='index', columns =['count'])
    developer_series['year'] = outer_dict
    developer_series.reset_index(level=0, inplace=True)
    list_of_df.append(developer_series)
developer_df = pd.concat(list_of_df)
developer_df.reset_index(drop=True,inplace=True)
developer_df.rename(columns={'index':'developer'},inplace=True)

developer_df.to_csv('developer.csv')
developer_df

                 developer  count  year
0                LucasArts      1  1995
1                 3DRealms      0  1995
2                  MPSLabs      0  1995
3       PulseEntertainment      0  1995
4                   Capcom      0  1995
...                    ...    ...   ...
124438  FlamingFowlStudios      1  2021
124439     MonochromeParis      1  2021
124440    SquareEnix,A-lim      1  2021
124441               A-lim      1  2021
124442               Flazm      1  2021

[124443 rows x 3 columns]

In [341]:
#for row in developer_df.itertuples():
 #   if row.count >100:
  #      print(row)

In [344]:

all_genre = {}
df_listed_genre = df.copy()
df_listed_genre["genre_list"] = ''




for row in df.itertuples():
    if ',' in row.genre:
        df_listed_genre['genre_list'][row.Index] = row.genre.split(',') 
        for genre in df_listed_genre['genre_list'][row.Index]: 
            #print(df['genre'][row.Index])
            if genre not in all_genre:
                all_genre[genre] = 0
                
    elif ',' not in row.genre and type(row.genre) != list :
        df_listed_genre['genre_list'][row.Index] = row.genre.split(',') 
        for genre in df_listed_genre['genre_list'][row.Index]:    
            if genre not in all_genre:
                all_genre[genre] = 0
genre = {}

for row in df_listed_genre.itertuples():
    if row._3.year not in genre:
        if len(genre) == 0:
            genre_year = {}
            genre[row._3.year] = all_genre.copy()
            for i in row.genre_list:
                genre[row._3.year][i] = 0
        elif len(genre) != 0:
            genre[row._3.year] = genre[row._3.year-1].copy()
            
    if row._3.year in genre: 
        
        for i in row.genre_list: 
            if i in genre[row._3.year]:
                genre[row._3.year][i] +=1      
list_of_df = []
for outer_dict in genre:
    genre_series = pd.DataFrame.from_dict(genre[outer_dict],orient='index', columns =['count'])
    genre_series['year'] = outer_dict
    genre_series.reset_index(level=0, inplace=True)
    
    list_of_df.append(genre_series)
genre_df = pd.concat(list_of_df)
genre_df.reset_index(drop=True,inplace=True)
genre_df.rename(columns={'index':'genre'},inplace=True)
genre_df.to_csv('genre.csv')
genre_df

<ipython-input-344-e698fa8704fb>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_listed_genre['genre_list'][row.Index] = row.genre.split(',')
<ipython-input-344-e698fa8704fb>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_listed_genre['genre_list'][row.Index] = row.genre.split(',')

                   genre  count  year
0              Adventure      1  1995
1                General      1  1995
2                 Action      0  1995
3                Shooter      0  1995
4           First-Person      0  1995
...                  ...    ...   ...
4585                Drag      4  2021
4586              Skiing      6  2021
4587  Exercise / Fitness     21  2021
4588                MOBA     46  2021
4589                Text     11  2021

[4590 rows x 3 columns]

In [345]:
all_developer = {}
df_listed_developer = df.copy()
df_listed_developer["developer_list"] = ''




for row in df.itertuples():
    if ',' in row.developer:
        df_listed_developer['developer_list'][row.Index] = row.developer.split(',') 
        for developer in df_listed_developer['developer_list'][row.Index]: 
            #print(df['developer'][row.Index])
            if developer not in all_developer:
                all_developer[developer] = 0
                
    elif ',' not in row.developer and type(row.developer) != list :
        df_listed_developer['developer_list'][row.Index] = row.developer.split(',') 
        for developer in df_listed_developer['developer_list'][row.Index]:    
            if developer not in all_developer:
                all_developer[developer] = 0
developer = {}

for row in df_listed_developer.itertuples():
    if row._3.year not in developer:
        if len(developer) == 0:
            developer_year = {}
            developer[row._3.year] = all_developer.copy()
            for i in row.developer_list:
                developer[row._3.year][i] = 0
        elif len(developer) != 0:
            developer[row._3.year] = developer[row._3.year-1].copy()
            
    if row._3.year in developer: 
        
        for i in row.developer_list: 
            if i in developer[row._3.year]:
                developer[row._3.year][i] +=1      
list_of_df = []
for outer_dict in developer:
    developer_series = pd.DataFrame.from_dict(developer[outer_dict],orient='index', columns =['count'])
    developer_series['year'] = outer_dict
    developer_series.reset_index(level=0, inplace=True)
    
    list_of_df.append(developer_series)
developer_df = pd.concat(list_of_df)
developer_df.reset_index(drop=True,inplace=True)
developer_df.rename(columns={'index':'developer'},inplace=True)
developer_df.to_csv('developer.csv')
developer_df

<ipython-input-345-14e99fbc4713>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_listed_developer['developer_list'][row.Index] = row.developer.split(',')
<ipython-input-345-14e99fbc4713>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_listed_developer['developer_list'][row.Index] = row.developer.split(',')

                 developer  count  year
0                LucasArts      1  1995
1                 3DRealms      0  1995
2                  MPSLabs      0  1995
3       PulseEntertainment      0  1995
4                   Capcom      0  1995
...                    ...    ...   ...
111613    NullpointerGames      1  2021
111614  FlamingFowlStudios      1  2021
111615     MonochromeParis      1  2021
111616               A-lim      2  2021
111617               Flazm      1  2021

[111618 rows x 3 columns]

In [ ]:
for row in developer_df.itertuples():
    if row.count >100:
        print(row)